@use '../helpers'as *;

.card {
  position: relative;
  padding-top: 2.8125rem;
  border-radius: 1rem;
  overflow: hidden;
  
  // themes
  @each $theme-name, $theme-value in map-get($colors, card-theme) {
    &-#{$theme-name} {
      background-color: $theme-value;
      // icon
      &::before {
        content: url('../images/icon-#{$theme-name}.svg');
        position: absolute;
        top: if(index('exercise', $theme-name), 0, -4%);
        right: 5%;
      }
    }
  }
  

  .card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.875rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--c-card-background);
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--c-card-background-hover);
    }

    .card_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        color: var(--c-card-text);
        font-size: 1rem;
        font-weight: 400;
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg path {
          fill: var(--c-card-text-muted);
          transition: fill 0.3s ease;
        }

        &:hover svg path {
          fill: var(--c-card-text);
        }
      }
    }

    .card_content {
      margin-top: 1.125rem;
      h2.current {
        color: var(--c-card-text);
        font-size: 3rem;
        font-weight: 300;
      }
      p.previous {
        color: var(--c-card-text-muted);
        font-size: 0.875rem;
        font-weight: 400;
      }

      @include media-query(mobile, md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}